<div class="bg-dark container-fluid">
  <footer
    class="d-flex flex-wrap justify-content-center align-items-center  border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-secondary">© KC Lim, 2024</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-white" href="#"
          ><i class="fab fa-twitter" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-white" href="#"
          ><i class="fab fa-instagram" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-white" href="#"
          ><i class="fab fa-facebook" style="font-size: 1.5rem"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
