<header class="p-1 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-lg-between headerElements"">
      <ul class="nav col-12 col-sm-auto mb-sm-0 pb-2 justify-content-center align-items-center">
        <li>
          <a href="/" class="nav-link px-2 text-white d-flex align-items-center nav-hover">
            <img src="/img/note.svg" alt="Nimbus Icon" class="nimbus me-2">
            <span class="nav-text">Nimbus</span>
          </a>
        </li>
        <li>
          <a href="/pricing" class="nav-link px-2 text-white nav-hover">Pricing</a>
        </li>
      </ul>

      <div class="auth-box d-flex ">
        <a href="/sign-up" id="signUpButton" class=" btn btn-outline-light d-flex align-items-center me-2">Sign up</a>
        <a href="/login" id="loginButton" class="btn btn-warning d-flex align-items-center">Login</a>
      </div>
    </div>
  </div>
</header>

<style>
  .nimbus {
    width: 32px;
    height: 32px;
  }

  .nav-text {
    font-size: 1.75rem;
  }

  .nav-hover:hover {
    color: #ffc700 !important;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  .nav-hover:hover .nimbus {
    filter: brightness(1.2);
  }

  @media (min-width: 414px) and (max-width: 746px) {
  .headerElements {
    justify-content: center !important; 
  }
}


</style>
