<header class="p-3 bg-dark text-white w-100">
  <div class="container-fluid p-0">
    <div class="d-flex flex-wrap justify-content-around">
      <ul class="nav col-12 col-lg-auto mb-lg-0 px-4 navbar">
        <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
        <li><a href="/log-out" class="nav-link px-2 text-white">Logout</a></li>
      </ul>
    </div>
  </div>
</header>


