<header class="p-3 bg-dark text-white d-flex justify-content-between">
  <div class="container">
    <div class="d-flex flex-wrap justify-space-around">
      <ul class="nav col-12 col-lg-auto mb-lg-0 navbar">
        <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
        <form  role="search" method="POST" action="/dashboard/search">
            <input class="form-control border-primary searchbar" placeholder="search title..." type="text" style="width: 25rem" />
          </form>
        <li><a href="/log-out" class="nav-link px-2 text-white">Logout</a></li>
      </ul>
    </div>
  </div>
</header>
