<header class="p-3 bg-dark text-white d-flex justify-content-between">
    <div class="container ">
      <div class="d-flex flex-wrap justify-content-between">
        <ul class="nav col-12 col-lg-auto  mb-lg-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/reviews" class="nav-link px-2 text-white">Reviews</a></li>
          <li><a href="/pricing" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="/FAQ" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>
  
        <div class="auth-box d-flex">
            <a href="auth/google" class="btn btn-outline-light d-flex justify-content-center align-items-center">Sign-up</a>
            <a href="auth/google" type="button" class="btn btn-warning d-flex align-items-center">Login</a>
        </div>
      </div>
    </div>
  </header>

