<div class="container-fluid">
<h1>About<h1>

    <p class="fs-4 mb-4">
        Notes app is completely free to use! Just sign-up and start writing ! It is built using Node.js,EJS, MongoDb and hosted on AWS Elastic Beanstalk. The database will be migrated from MongoDB to DynamoDB in the near future. 
    </p>

</div>

