<style>
.shrug {
  display: block; /* Center the image */
  margin: 0 auto; /* Center the image horizontally */
  width: 300px; /* Set a smaller width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Add some space above */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}
</style>

<div class="container-fluid container-fluid-custom py-md-5 mb-5 d-flex">
  <main>
    <div class="row py-md-5 text-center justify-content-center d-flex">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0 d-flex justify-content-center flex-column p-2">
        <h1 display-2 fw-bold mb-4  class="pb-5">
          Something went wrong! 
        </h1>
        <img class="shrug" src="/img/shrug.svg">
      </div>
    </div>
  </main>
</div>

