<div class="container-fluid container-fluid-custom py-md-5 mb-5 d-flex">
  <main>
    <div class="row py-md-5 text-center justify-content-center d-flex">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0 d-flex justify-content-center flex-column p-2">
        <h1 display-2 fw-bold mb-4  class="pb-5">
          Something went wrong! 
        </h1>
      <div class="tryButton">
        <p class="display-5 fw-semibold"> <strong class="btn btn-info btn-lg freeButton display-5 "><a href="/auth/google">Try Notes App </a></strong></p>
      </div>
      </div>
    </div>
  </main>
</div>

