<div class="container-fluid container-fluid-custom pt-3 pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hello, User</h1>
        </div>
        <div class="col text-end">
            <a href="/dashboard/add" class="btn btn-primary">+New Note</a>
        </div>
    </div>
</div>

<!-- make user dynamic. display username or displayname when logged in -->