<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 display-2 fw-bold mb-4 position-relative>
          Thoughts come and go. Write them down.
        </h1>
        <p class="display-5 fw-semibold">Try it for <strong class="btn btn-primary btn-lg"><a href="/auth/google">Free </a></strong></p>

      </div>
    </div>
  </main>
</div>

<div class="container d-flex justify-content-center">
    <img src="/img/bee.webp" alt="picture-of-bee-taking-notes" height="300px" width="400px" class='img-fluid'style="border-radius: 40%;">
  </div>