.notepad {
    background-color: #fff;
    width: 450px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px;
}
.notepad .header {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
    background-color: #E0E0E0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ddd;
    height: 2rem;
}
.notepad .header .btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 5px;
    padding: 0;
    transition: transform 0.3s, box-shadow 0.3s;
}
.notepad .header .btn-close {
    background-color: red;
}
.notepad .header .btn-shrink {
    background-color: yellow;
}

.notepad .header .btn-close:hover,
.notepad .header .btn-shrink:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.notepad .content {
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-align: left;
}
#typedText {
    display: inline;
    font-family: inherit;
    font-size: 1.5rem;
}

.typed-cursor {
    font-size: 1.5rem;
    line-height: 1;
    vertical-align: center;
    color: #333;
}
.notepad .header .btn-shrink::before {
    content: '-';
    font-size: 2rem;
    line-height: 0.6;
}
