:root {
  --background-color: #ffc700;
  --bs-primary-rgb: #12296c;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.content {
  flex: 1 ;
}
footer {
  flex-shrink: 0;
  height:3.5rem;
}
main{
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", cursive;
  font-weight: 800;
}

.container-fluid-custom {
  /* background-color: aqua; */
  max-width: 1600px;
}

/* button */
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--bs-primary-rgb), 30%);
}

.auth-box {
  width: 250px;
  justify-content: space-between;
}

.pagination {
  --bs-pagination-color: var(--bs-primary-rgb);
  --bs-pagination-active-bg: var(--bs-primary-rgb);
  --bs-pagination-active-border-color: var(--bs-primary-rgb);
}

.freeButton a {
    color: rgb(18, 41, 108);
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
}
  